.a-text-placeholder {
  display: inline-block;
  padding: 11px 12px;
  font-family: $fontset-jp;
  font-size: 16px;
  line-height: 26px;
  white-space: nowrap;
  background: $color-base-white;
  border: 1px solid $color-grey-3;
  border-radius: 12px;
}
