.o-masonry-container {
  $gap: 16px;

  display: grid;
  grid-gap: $gap;

  @include sp() {
    display: block;

    .m-masonry-item {
      &:not(:first-child) {
        margin-top: $gap;
      }
    }
  }

  &--col {
    &-1 {
      grid-template-columns: 1fr;
    }
    &-2 {
      grid-template-columns: 1fr 1fr;
    }
    &-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
