.u-omitpipe {
  position: relative;
  display: block;
  &__fake {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    visibility: hidden;
  }
  &__character {
    white-space: nowrap;
  }
}
