.m-logged-in-contain {
  padding: 28px 32px;
  margin: 0 auto;
  background: $color-base-white;
  border-radius: 6px;
  box-shadow: 0 16px 24px rgba($color-base-lightgray, 40%);

  &--signedin {
    .a-user-account {
      margin-top: 14px;
      margin-bottom: 24px;
    }
  }

  .a-button {
    height: 44px;
  }

  .a-internal-link {
    display: block;
    margin-top: 22px;
    text-align: center;
  }
}
